
.metadata/.lock
.metadata/.log
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/ap-northeast-1.png
.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/ap-northeast-2.png
.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/ap-south-1.png
.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/ap-southeast-1.png
.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/ap-southeast-2.png
.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/aws.png
.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/ca.png
.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/cn.png
.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/eu-central-1.png
.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/eu-west-1.png
.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/eu-west-2.png
.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/eu-west-3.png
.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/sa-east-1.png
.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/us.png
.metadata/.plugins/com.amazonaws.eclipse.core/regions/regions.xml
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.amazonaws.eclipse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jst.j2ee.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.12.0.20190529-1916.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/version.ini
chatroom.war
WebContent/test.war
WebContent/web-archive-test.war
