body {
    --main-bg-color: #17141f;
    --navbar-main-color: #4b367c;
    --text-color: #000000;
}

.full-navbar {
    background-color: var(--navbar-main-color);

}

.left-sidebar {

    width: 12em;
    position: relative!important;
    margin-right: 0px;
    flex-direction: column;

}




.left-sidebar a {
    width: 100%;
    padding: 1em .5em 1em .5em;
    display: block;

}

.left-sidebar a:hover {
    background-color: #eee;
    text-decoration: none;
}

.main-body {

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

}

.main {
    color: var(--text-color);

    overflow-x: hidden;
    max-width: calc(100% - 600px);
    max-height: calc(100vh - 16rem);

    width: 67%;
    position: relative !important;
    margin-right: 0px; 
    flex-direction: column;
}

.center-text{
    text-align: center;

}

.section-header{
    font-size: 1.4em;
}