 table {
	border-collapse:collapse;
}

#game-board{
	width:450px;
	height: 450px;
	position:relative;
}

td {
	background-color: black;
	border: 3px solid white;
	font-size:80px;
	color:#ffffff;
	border-radius: 10px 10px 10px 10px;
	width: 144px;
  	height:  144px;
  	min-width:  144px;
  	min-height:  144px;
  	max-width:  144px;
  	max-height:  144px;
}
tr{
	width: 100%;
}
.empty-cell{
	background-color: black;
	opacity: 1;
  	transition: 0.5s;
  	perspective: 1000px;

}

.full-cell {
	
}

.X{
  background-color: #36d61a;
}

.O{
  background-color: red;
}
.empty-cell:hover {
	background-color: grey;
	opacity: 1;
  	transition: 0.5s;
}

.empty-cell:onclick {
	  transform: rotateY(180deg);
}

#startGameButton{
	 width: 60px;
  	height: 60px;
}


#end-ribbon {
  display: block;
  width: calc(100% + 20px);
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-left: -10px;
  margin-right: -10px;
  background: #EDBA19;
  position: absolute;
  top: calc(50% - 25px);
}
#end-ribbon:before, #end-ribbon:after {
  content: "";
  position: absolute;
}
#end-ribbon:before {
  height: 0;
  width: 0;
  bottom: -10px;
  left: 0;
  border-top: 10px solid #cd8d11;
  border-left: 10px solid transparent;
}
#end-ribbon:after {
  height: 0;
  width: 0;
  right: 0;
  bottom: -10px;
  border-top: 10px solid #cd8d11;
  border-right: 10px solid transparent;
}

