
.main ul{
    list-style-type:none;
    padding-left: 0px;
}
.main li{
    padding: 5px 0px 5px;
}

#textInput{
    vertical-align: text-top;
    bottom: 10px;
    width: 50%;
    height:  100px;
}
#textInput textarea{
    height:  80px;
    width: 100%;
}